*{
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}
.banner{
	width: 100%;
	background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.05)), url(img/HCM-scaled.jpg);
	background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
@media only screen and (max-width: 63.1875em){
	.banner{
		background-image: none;
	}
}
.container-all{
	width: 1099px;
	margin: 0 auto;}
.fpt-uni-logo{
	padding-top: 10px;
}
.fpt-uni-logo img{
	margin-left: 30px;
}
nav{
	height: 35px;
	background: rgb(242,114,41);
}
nav .menu ul{
	list-style: none;
}
nav .menu ul li{
	float: left;
	line-height: 35px;
	/* padding: 0 15px; */
	position: relative;
}

nav .menu ul li a{
	color: white;
	font-size: 14px;
	text-decoration: none;
	padding: 15px 35px;
}
nav .menu ul li a:hover{
	background-color: aliceblue;
	color: rgb(220, 104, 37);
	padding: 10px 35px;
}
nav .search{
	line-height: 35px;
	float: right;
	margin-right: 25px;;
}
nav .menu ul li .sub-menu{
	position: absolute;
	background-color: rgb(235, 235, 235);
	padding: 15px 0px;
	list-style: none;
	width: 220px;
	display: none;
}
nav .menu ul li:hover .sub-menu{
	display: block;
}
nav .menu ul li .sub-menu a{
	padding: 8px 15px;
	color: black;
	border-bottom: 1px solid rgb(118,111,144);
}
nav .menu ul li .sub-menu li:hover a{
	border-bottom: 1px solid rgb(134, 130, 150);
	background-color: rgb(242,114,41);
}
nav .menu ul li .sub-menu li:last-child{
	border: 5px;
}
.header .search{
	padding: 30px 10px 10px 50px;
}
.header .search .search-text{
	border-radius: 5px;
	border: solid 1px;
	padding: 3px;
	font-size: 14px;
}
.btn-search{
	background-color: rgb(242,114,41);
	color: aliceblue;
	border-radius: 5px;
	border: none;
	padding: 3px;
	font-size: 14px;
}
.btn-search:hover{
	color:rgb(242,114,41);
	background-color: aliceblue;
	border-radius: 5px;
}

.title-form{
    text-align: center;
    padding-bottom: 25px;
    color: rgb(249, 142, 144);
    font-size: 13px;
}
.contact{
    padding-bottom: 50px;
}
.title-contact{
    color: black;
    font-weight: bold; 
    font-size: x-large;
    background: rgba(255, 165, 165, 0.25);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-shadow: rgb(255, 255, 255) -1px -2px 0.5em;
}
.contact-box{
    background: rgba(255, 165, 165, 0.25);
    padding: 15px 0px 15px 0px; 
}
.contact-icon{
    font-size: 16px;
    color: rgb(0, 43, 137)
}
.titleInfoPro {
    text-transform: uppercase;
	font-size: 1.0625rem;
	text-align: center;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	text-transform: uppercase;
	text-align: center;
	font-size: 35px;
	height: 108px;
	padding-top: 40px;
	color: #261111;
	letter-spacing: .15em;
	text-shadow: 1px -1px 0 #ffffff;
}
.card-header:first-child {
    border-radius: calc(0.375rem - 0px) calc(0.375rem - 0px) 0 0;
}
.infoUser .card-header, .newsTabs .card-header {
    background-color: #f27229;
    color: #ffffff;
}
.card-header {
    background-color: transparent;
    border-bottom: 1px solid #f1f4f8;
}

.card-header {
    padding: 1.5rem 2rem;
    margin-bottom: 0;
    background-color: rgba(22, 28, 45, .03);
    border-bottom: 0 solid #f1f4f8;
}
.padding {
    padding: 3rem !important
}
.user-card-full {
	background: rgba(255, 185, 185, 0.5);
    overflow: hidden;
	width: 950px;
	border-radius: 15px;
}
.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}
.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}
.user-card-full .user-profile {
    border-radius: 15px;
}
.img-set{
	width: 200px;
	height: 200px
}
.bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}
.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}


 
h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}
.header{
	width: 1100px;
	height: 100px;
	justify-content: flex-end;
	display: flex;
	flex-direction: row;
	padding-top: 15px;
	padding-bottom: 180px;
}
.header .fpt-uni-logo{
	padding: 30px 50px 10px 10px;
}
.header .fpt-uni-intro{
	padding-top: 30px;
    text-align: center;
}
.header .fpt-uni-intro .content-uni-intro{
	color: rgb(16,114,187);
	font-size: 13px;
	padding: 10px 10px 10px 10px;
	border: 10px 10px 10px 10px
}
.header .search{
	padding: 30px 10px 10px 50px;
}
.header .search .search-text{
	border-radius: 5px;
	border: solid 1px;
	padding: 3px;
	font-size: 14px;
}

@media only screen and (min-width: 1400px){
    p {
        font-size: 14px;
    }
    }
    
    .card-block {
        padding: 1.25rem;
    }
    
    .b-b-default {
        border-bottom: 1px solid #e0e0e0;
    }
    
    .m-b-20 {
        margin-bottom: 20px;
    }
    
    .p-b-5 {
        padding-bottom: 5px !important;
    }
    
    .card .card-block p {
        line-height: 25px;
    }
    
    .m-b-10 {
        margin-bottom: 10px;
    }
    
    .text-muted {
        color: #919aa3 !important;
    }
    
    .b-b-default {
        border-bottom: 1px solid #e0e0e0;
    }
    
    .f-w-600 {
        font-weight: 600;
    }
    
    .m-b-20 {
        margin-bottom: 20px;
    }
    
    .m-t-40 {
        margin-top: 20px;
    }
    
    .p-b-5 {
        padding-bottom: 5px !important;
    }
    
    .m-b-10 {
        margin-bottom: 10px;
    }
    
    .m-t-40 {
        margin-top: 20px;
    }
    
    .btnCancel{
        background-color: rgb(255, 238, 227);
        color: black;
        border: none;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.1) 3px 4px 4px; 
    }
    
    .btnCancel:hover{
        background-color: black;
        color: rgb(226,226,226);
        border: none;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.1) 3px 4px 4px; 
    }
    
    .btnSave{
        background-color: rgb(239,109,107);
        color: black;
        border: none;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.1) 3px 4px 4px; 
    }
    .btnSave:hover{
        color:rgb(239,109,107);
        background-color: black;
        border: none;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.1) 3px 4px 4px; 
    }
     /*@import url(https://fonts.googleapis.com/css?family=Montserrat);*/
    
.newsTabs .card-body .boxNewsTab {
    border-bottom: 1px solid #cccccc;
    padding: 1rem 0;
}
.file-student{
	background: rgb(255, 129, 117);
	box-shadow: rgba(0, 0, 0, 0.1) 3px 4px 4px; 
	clear: both; 
	color: rgb(0, 0, 0); 
	transition: 0.5s;
	border-radius: 15px;
	margin-left: 160px;
	margin-bottom: 3px;
}
.student-major{
	padding: 7px 30px 7px 15px;
	background: rgb(255, 198, 193);
	box-shadow: rgba(0, 0, 0, 0.1) 3px 4px 4px; 
	clear: both; ; color: rgb(0, 0, 0); 
	transition: 0.5s;
	text-align: center;
	border-radius: 15px;
}
.checkbox-major{
	margin-left: 150px;
	margin-right: 5px;
}
.student-certi{
	padding: 7px 5px 2px 5px;
	background: rgb(249, 170, 163);
	box-shadow: rgba(0, 0, 0, 0.1) 3px 4px 4px; 
	clear: both; ; color: rgb(0, 0, 0); 
	transition: 0.5s;
	text-align: center;
	border-radius: 15px;
	height: 38px;
	margin-left: 165px;
	margin-bottom: 3px;
}
.file-student-title{
	padding: 7px 5px 0px 15px;
	background: rgb(255, 129, 117);
	box-shadow: rgba(0, 0, 0, 0.1) 3px 4px 4px; 
	clear: both; ; color: rgb(0, 0, 0); 
	transition: 0.5s;
	border-radius: 15px;
	height: 40px;
	width: 317px;
	margin-left: 165px;
	margin-bottom: 3px;
	
}
.student-major-cv{
	padding: 7px 30px 7px 15px;
	background: rgb(255, 198, 193);
	box-shadow: rgba(0, 0, 0, 0.1) 3px 4px 4px; 
	clear: both; ; color: rgb(0, 0, 0); 
	transition: 0.5s;
	text-align: center;
	border-radius: 15px;
	margin-left: 150px;
}
.file-student-list{
	background: rgb(255, 129, 117);
	box-shadow: rgba(0, 0, 0, 0.1) 3px 4px 4px; 
	clear: both; 
	color: rgb(0, 0, 0); 
	transition: 0.5s;
	border-radius: 15px;
	margin-left: 165px;
	margin-bottom: 3px;
	width: 300px;
}
@font-face {
    font-family: "ElMessiri-SemiBold";
    src: url("../fonts/el_messiri/ElMessiri-SemiBold.ttf"); }
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/montserrat/Montserrat-Regular.ttf"); }
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/montserrat/Montserrat-SemiBold.ttf"); }
.wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
    .wrapper body {
    font-family: "Montserrat-Regular";
    color: #999;
    font-size: 12px;
    margin: 0; }
    
  .wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgba(255, 165, 165, 0.25);
    background-size: cover;
    border-bottom: 50px;
    border-radius: 5px;}
.form-signup{
    padding-bottom: 25px;
}

.input-form{
    color: rgb(166, 95, 96);
}
.wrapper p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0; }
.wrapper img {
    max-width: 100%; }
.wrapper ul {
    padding-left: 0;
    margin-bottom: 0; }
.wrapper a {
    text-decoration: none;
    color: #ff9a9c;
    transition: all 0.3s ease; }
.wrapper a:hover {
    text-decoration: none;
    color: #fe4447; }
.wrapper :focus {
    outline: none; }
.wrapper .inner {
    max-width: 850px;
    margin: auto;
    background: #fff;
    display: flex;
    padding-left: 40px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }

.wrapper .image-holder {
    width: 50%;
    padding-right: 15px; }
.wrapper form {
    width: 50%;
    padding-top: 77px;
    padding-right: 60px;
    padding-left: 15px; }
.wrapper h3 {
    font-size: 35px;
    font-family: "ElMessiri-SemiBold";
    text-align: center;
    margin-bottom: 27px;
    color: #ff9a9c; }
.wrapper .form-holder {
    padding-left: 24px;
    position: relative; }
.wrapper   .form-holder:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #ff9a9c;
    position: absolute;
    left: 1px;
    top: 50%;
    transform: translateY(-50%); }
.wrapper .form-holder.active:before {
    border: 2px solid transparent;
    background: #ff9a9c; }
.wrapper .form-control {
    display: block;
    width: 100%;
    border-radius: 23.5px;
    height: 47px;
    padding: 0 24px;
    color: #808080;
    font-size: 13px;
    border: none;
    background: #f7f7f7;
    margin-bottom: 25px; }
.wrapper .form-control::-webkit-input-placeholder {
    font-size: 13px;
    color: #808080;
    text-transform: uppercase;
    font-family: "Montserrat-Regular"; }
.wrapper .form-control::-moz-placeholder {
    font-size: 13px;
    color: #808080;
    text-transform: uppercase;
    font-family: "Montserrat-Regular"; }
.wrapper .form-control:-ms-input-placeholder {
    font-size: 13px;
    color: #808080;
    text-transform: uppercase;
    font-family: "Montserrat-Regular"; }
.wrapper .form-control:-moz-placeholder {
    font-size: 13px;
    color: #808080;
    text-transform: uppercase;
    font-family: "Montserrat-Regular"; }
@-webkit-keyframes hvr-wobble-horizontal{
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px); }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px); }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px); }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px); }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px); }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0); } }
  @keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px); }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px); }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px); }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px); }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px); }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0); } }
.wrapper button {
    letter-spacing: 2px;
    border: none;
    width: 133px;
    height: 47px;
    margin-right: 19px;
    border-radius: 23.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #ff9a9c;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
.wrapper button:hover {
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; }
.wrapper .checkbox {
    position: relative;
    padding-left: 19px;
    margin-bottom: 37px;
    margin-left: 26px; }
.wrapper .checkbox label {
    cursor: pointer;
    color: #999; }
.wrapper .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
.wrapper .checkbox input:checked ~ .checkmark:after {
    display: block; }
.wrapper .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #e7e7e7; }
.wrapper .checkmark:after {
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ff9a9c;
    position: absolute;
    display: none; }
.wrapper .form-login {
    display: flex;
    align-items: center;
    margin-left: 23px; }
    
    @media (max-width: 767px) {
        .wrapper .inner {
          display: block; }
      
          .wrapper .image-holder {
          width: 100%;
          padding-right: 0; }
      
          .wrapper form {
          width: 100%;
          padding: 0px 15px 70px; }
      
        .wrapper {
          background: none; } }


          .container-text body{
            background: #030321;
            font-family: Arial;
          }
          
          .container-text {
            display: flex;
            height: 100%;
            align-items: center;
            font-size: 8px;
            text-align: center;
          }
          
          .container-text h6 {
              text-align: center;
          }
          
          .container-text svg {
              display: block;
              font: 10.5em 'Montserrat';
              width: 480px;
              height: 150px;
              margin: 0 auto;
          }


    